<html>

<head>
    <title>Welcome to chatbot</title>
</head>

<body>
    <h1>Welcome to chatbot</h1>
    <p>It can help you in your metro journey.</p>
    <p>Currently, I am not mature. I do little things.</p>
    <p>For using chatbot, send <b>Join cabin-apartment</b> to <b>+1 415-523-8886</b> by using your <b>WhatsApp.</b></p>
    <ul>
        <li>Fetch Metro Map</li>
        <li>Fetch Metro Stations Directory</li>
        <li>Show Lines Details</li>
        <li>gives Fares</li>
        <li>repeat last command</li>
    </ul>

    <p>eg. Show metro map, show directory</p>
</body>

</html>
